<footer class="footer">
  <small>
    this site is owned by <a href="https://github.com/daisukesone">Daisuke Sone</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>works</li>
    </ul>
  </nav>
</footer>
